<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mariana Saavedra | Portfolio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

    <body>
        <section class="hero">
            <h1>Mariana Saavedra</h1>
            <h2>Recherche Alternace Data & IA</h2>
            <p>
                Nouvellement intégrée dans première année du cycle ingénieur dans la majeure DATA & IA à ESILV, 
                je suis à la recherche d'une alternance pour la rentrée septembre 2026 
            </p>
            <a href="/static/cv_mariana_saavedra.pdf" target="_blank">Voir mon CV</a>
            <a href="#projects">Voir mes projets</a>
            <a href="https://www.linkedin.com/in/mariana-saavedra/" target="_blank">Lien vers LinkedIn</a>
        </section>
        <section id="projects">
            <h2>Mes projets</h2>
            <div class="card">
                <h3>Lien vers Github</h3>
                <a href="https://github.com/marianasaavedrab" target="_blank">Voir mon Github</a>
            </div>
            <div class="card">
                <h3>PDF AI Chatbot</h3>
                <p>Chatbot capable de lire des PDF et répondre aux questions.</p>
            </div>
            <div class="card">
                <h3>AI python and math dynamic tutor</h3>
                <p>Chatbot dinamique qui peut se spécialiser en tutor de maths, de phython ou généraliste</p>
            </div>
            <div class="card">
                <h3>Data analysis project</h3>
                <p>Analyse de données Kaggle avec visualisations</p>
            </div> 
        </section>
    </body>
</html>

